<section class="container">
    <section><h1>Lista de Compras</h1></section>
    <section id="form">
        <form id="add" [formGroup]="listForm" (ngSubmit)="addItem()">
            <div class="inputs">
                <input id="insertQty" type="number" min="1" value="1" formControlName="insertQty">
                <input id="writeItem" type="text" placeholder="Adicione um Item..." formControlName="writeItem">
                <input type="submit" id="btnAdd" value="Adicionar" [disabled]="!listForm.valid">
            </div>
            <div class="message" *ngIf="listForm.get('writeItem')?.invalid && listForm.get('writeItem')?.touched">
                <p>Você não inseriu nenhum item...</p>
            </div>
        </form>
    </section>
    <section id="table">
        <table>
            <thead>
                <tr>
                    <th id="done">Concluído</th>
                    <th id="qtty">Quantidade</th>
                    <th id="name">Item</th>
                    <th id="rmv">Remover</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of shoppingList; let i = index">
                    <td>
                        <input type="checkbox" id="item-done-{{i}}" (change)="toggleDone($event, i)" [checked]="item.done">
                    </td>
                    <td class="item-qtty"><p class="item-info">{{ item.quantity }}</p></td>
                    <td class="item-name"><p class=" item-info">{{ item.name }}</p></td>
                    <td><button (click)="removeItem(i)"><img src="../../../assets/images/remove.png"></button></td>
                </tr>
              </tbody>
        </table>
    </section>
</section>
